@font-face {
    font-family: "signifier";
    src: url("sign.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "signifier";
    src: url("signbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/* Font face for AppleGaramond Regular */
@font-face {
    font-family: 'AppleGaramond';
    font-style: normal;
    font-weight: 400;
    src: url('AppleGaramond.ttf') format('truetype');
}

/* Font face for AppleGaramond Italic */
@font-face {
    font-family: 'AppleGaramond';
    font-style: italic;
    font-weight: 400;
    src: url('AppleGaramond-Italic.ttf') format('truetype');
}

/* Font face for AppleGaramond Bold */
@font-face {
    font-family: 'AppleGaramond';
    font-style: normal;
    font-weight: 700;
    src: url('AppleGaramond-Bold.ttf') format('truetype');
}

/* Font face for AppleGaramond Bold Italic */
@font-face {
    font-family: 'AppleGaramond';
    font-style: italic;
    font-weight: 700;
    src: url('AppleGaramond-BoldItalic.ttf') format('truetype');
}